version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: postgres-parking
    environment:
      POSTGRES_DB: parking_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123vorn
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: